!!!
%html{ lang: I18n.locale.to_s }
  %head
    %title= yield_or_default :title, action_name.titlecase
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    = csrf_meta_tags
    = yield :head

    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }

    / Favicons
    %link{ href: asset_path('apple-touch-icon-precomposed.png'), rel: 'apple-touch-icon-precomposed', sizes: '144x144' }

    / Turbolinks require javascript tags inside the head
    = javascript_include_tag 'application', data: { turbolinks_track: true }

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag '//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js', 'respond.js'

  %body
    = render 'shared/navbar'

    #main-container.container= yield

    = render 'shared/footer'
    = render 'shared/turbolinks_spinner'
